/*
 * setup the head of the document
 */

html {
	margin:0;
	padding:0;
	border:0;
}

body {
  background: url(/img/noir-bg.png);
  color: #d1d9e1;
  padding: 60px;
  font-family: 'Helvetica Neue',Helvetica,Verdana;
}

#ui_head {
	min-height: 75px;
}

#ui_head div {
	display: inline;
}

#functions {
	float: right;
}

.fn_btn {
	margin: 4px;
	padding: 5px;
	border: 2px solid #616363;
    border-radius: 8px 8px 8px 8px;
}

.fn_btn:hover {
	background: none repeat scroll 0 0 #6BFFBD;
	opacity: 0.7;
}

#functions a {
	color: #D1D9E1;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

#functions a:hover {
	cursor: default;
}

#banner {
	color: #6bffbd;	
	float: left;
	font-family: 'Chelsea Market', cursive;
	font-size: 60px;
	padding-bottom: 5px;
}

#subbanner {
	color: #6bffbd;
	float: left;
	padding-left: 20px;
	padding-bottom: 10px;
}

/*
 * setup the body of the document
 */
 
#playlist {
	width: 645px;
	height: 200px;
	color: black;
 	float: left;
 	padding: 15px;
 	margin-top: 20px;
 	background: none repeat scroll 0 0 	#F0F0F0 ;
    border-radius: 8px 8px 8px 8px;
}

#playlist h3 {
	padding: 3px;
	border: 1px solid #585858;
    border-radius: 8px 8px 8px 8px;
}

#playlist ul {
	list-style: none;
}

#playlist li {
	text-align: left;
}

#metaside {
	width: 210px;
	height: 650px;
	color: black;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	padding: 15px;
	background: none repeat scroll 0 0 	#F0F0F0 ;
	border-radius: 8px 8px 8px 8px;
}

#metaside h3 {
	padding: 3px;
	border: 1px solid #585858 ;
    border-radius: 8px 8px 8px 8px;
}

#meta-items {
	margin-top: 10px;
}

#metaside input {
	width: 13px;
	height: 13px;
	padding: 0px;
	margin: 0px 5px 0px 0px;
	position: relative;
	top: -1px;
}

#metaside label {
	display: block;
	text-align: left;
}

#metaside ul {
	list-style: none;
}

#metaside li {
	text-align: left;
}

#map {
 	float: right;
}
 
 /*
  * Landing page
  */
  
#land-title {
  text-align: center;
  width: 600px;
  margin: 0px auto;
  margin-top: 200px;
}
#land-title h1 {
  color: #6bffbd;
  font-size: 32px;
  margin-bottom: 20px;
}

#wrapper {
  margin: 0 auto;
  width: 1000px;
}
 
 
