/*
 * setup the head of the document
 */
html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(/img/noir-bg.png);
	color: #d1d9e1;
	padding: 60px;
	font-family: 'Helvetica Neue', Helvetica, Verdana;
}

#ui_head {
	min-height: 75px;
}

#ui_head div {
	display: inline;
}

#functions {
	float: right;
}

.fn_btn {
	margin: 4px;
	padding: 5px;
	border: 2px solid #616363;
	border-radius: 8px 8px 8px 8px;
}

.fn_btn:hover {
	background: none repeat scroll 0 0 #6BFFBD;
	opacity: 0.7;
}

#functions a {
	color: #D1D9E1;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

#functions a:hover {
	cursor: default;
}

#banner {
	color: #6bffbd;
	float: left;
	font-family: 'Sonsie One', cursive;
	font-size: 60px;
	padding-bottom: 5px;
}

#subbanner {
	color: #6bffbd;
	float: left;
	padding-left: 20px;
	padding-bottom: 10px;
}

/*
 * setup the body of the document
 */
#playlist {
	width: 645px;
	height: 200px;
	color:#313F51;
	float: left;
	padding: 15px;
	margin-top: 20px;
	background: none repeat scroll 0 0 #F0F0F0;
	border-radius: 8px 8px 8px 8px;
}

#playlist h3 {
	font-size: 1.15em;
	color:#313F51;
	padding: 3px;
	font-family: 'Titan One', cursive;
}

#playlist ul {
	list-style: none;
}

#playlist li {
	text-align: left;
}

#metaside {
	width: 210px;
	height: 920px;
	color:#313F51;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	padding: 15px;
	background: none repeat scroll 0 0 #F0F0F0;
	border-radius: 8px 8px 8px 8px;
}

#metaside h3 {
	color:#313F51;
	font-size: 1.15em;
	padding: 3px;
	font-family: 'Titan One', cursive;
}

#meta-items {
	margin-top: 10px;
	list-style: none;
}

#meta-items li {
	float: left;
	height: 35px;
	margin: 0 10px;
}

#meta-items li:hover {
	color: grey;
	cursor: default;
}

#map {
	float: right;
	margin-top: 10px;
}

/*
 * Song Marker
 */
.song_mrkr {
	color: black;
	display: block;
	text-align: left;
}

.mrkr_artist {
	margin-bottom: 2px;
}

.mrkr_title {
	margin-bottom: 2px;
}

.mrkr_album {
	margin-bottom: 2px;
}

/*
 * popup stuff
 */
.modal_back {
	border-width: 0;
	margin: 0;
	padding: 0;
	background: black none repeat scroll 0 0;
	display: none;
	height: 2500px;
	left: 0;
	filter: alpha(opacity = 70);
	opacity: 0.70;
	top: 0;
	width: 100%;
	z-index: 50;
	display: none;
	position: fixed;
	-moz-background-clip: -moz-initial;
	-moz-background-origin: -moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

.modal {
	position: absolute;
	left: 45%;
	top: 45%;
	z-index: 51;
	color: #000000;
	background: #E5ECF9;
	padding: 15px;
	border: 1px solid #585858;
	border-radius: 8px 8px 8px 8px;
}

/*
 * footer stuff
 */
#footer_copy {
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}


/*
  * Landing page
  */
#land-title {
	text-align: center;
	width: 600px;
	margin: 0px auto;
	margin-top: 200px;
}

#land-title h1 {
	color: #6bffbd;
	font-size: 32px;
	margin-bottom: 20px;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
}