/*
 * setup the head of the document
 */
html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(/img/square_back.png);
	background-repeat: repeat;
	font-family: 'Helvetica Neue', Helvetica, Verdana;
}

#ui_body_main {
	background: #404040;
	padding: 15px;
	border-radius: 8px 8px 8px 8px;
}

#ui_head {
	min-height: 75px;
}

#ui_head div {
	display: inline;
}

#functions {
	float: right;
}

.fn_btn {
	margin: 4px;
	padding: 5px;
	border: 2px solid #616363;
	border-radius: 8px 8px 8px 8px;
}

.fn_btn:hover {
	background: none repeat scroll 0 0 #F9F99F;
	opacity: 0.85;
	cursor: pointer;
}

#functions a {
	color: #00CCFF;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

#functions a:hover {
	cursor: pointer;
}

#banner {
	color: #00CCFF;
	float: left;
	font-family: 'Sonsie One', cursive;
	font-size: 60px;
	padding-bottom: 5px;
}

#subbanner {
	color: #00CCFF;
	float: left;
	padding-left: 20px;
	padding-bottom: 10px;
}

/*
 * setup the body of the document
 */

#metacloud {
	color: #F0F0F0;
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 8px 8px 8px 8px;
}

.metaword {
	cursor: pointer;
}

#cloud_holder > span.mselect {
	background: #F9F99F;
	opacity: 0.85;
	border-radius: 8px 8px 8px 8px;
}

#tracks {
	float: left;
	margin-top: 10px;
    margin-right: 10px;
}

#map {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 4px;
    border-radius: 8px 8px 8px 8px;
}

/* Tracks table */

table.display thead th {
	color: #00CCFF;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}

table.display tbody {
	font-size: 12px;
}

table.display tbody tr {
	cursor: pointer;
}

table.display tbody tr:hover td {
	background: #F9F99F;
	opacity: 0.85;
}

/*
 * Song Marker
 */
.song_mrkr {
	color: black;
	display: block;
	text-align: center;
	font-size: 10px;
}

.song_mrkr img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	margin-bottom: 2px;
}


/*
 * footer stuff
 */

#ui_foot {
	padding-top: 15px;
} 

#tuneramblr_copy {
	color: #00CCFF;
	float: left;
    margin-top: 15px;
    font-size: 10px;
}

#map_copy {
	color: #00CCFF;
	float: left;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 10px;
}

#back_labs {
	float: right;
	margin-top: 15px;
}
