/** This file will contain any necessary customizations for the tuneramblr site **/

.center {
	margin: auto;
}

.center-text {
	text-align: center;
}

.metad_text {
	margin-left: 2px;
}

#tracks_table tbody tr {
	cursor: pointer;
}

#tracks_table tbody tr:hover {
	background-color: #D9EDF7;
}