/*
 * setup the head of the document
 */
html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: url(/img/square_back.png);
	background-repeat: repeat;
	font-family: 'Helvetica Neue', Helvetica, Verdana;
}

#ui_body_main {
	background: #404040;
	padding: 15px;
	border-radius: 8px 8px 8px 8px;
}

#ui_head {
	min-height: 75px;
	margin-bottom: 20px;
}

#ui_head div {
	display: inline;
}

#functions {
	margin-top: 40px;
	float: right;
}

.fn_btn {
	margin: 4px;
	padding: 5px;
	border: 2px solid #616363;
	border-radius: 8px 8px 8px 8px;
}

.fn_btn:hover {
	background: none repeat scroll 0 0 #F9F99F;
	opacity: 0.85;
	cursor: pointer;
}

#functions a {
	color: #00CCFF;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

#functions a:hover {
	cursor: pointer;
}

#banner {
	float: left;
	width: 143px;
	height: 99px;
}

#banner img {
	width: 100%;
	height: 100%;
}

#subbanner {
	color: #00CCFF;
	float: left;
	padding-left: 20px;
	padding-bottom: 10px;
}

/*
 * setup the body of the document
 */
#metacloud {
	color: #F0F0F0;
	float: left;
	margin-top: 10px;
	margin-bottom: 15px;
	border-radius: 8px 8px 8px 8px;
}

.metaword {
	cursor: pointer;
}

#cloud_holder>span.mselect {
	background: #F9F99F;
	opacity: 0.85;
	border-radius: 8px 8px 8px 8px;
}

#tracks {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

#map {
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 4px;
	border-radius: 8px 8px 8px 8px;
}

/* Tracks table */
table.display thead th {
	color: #00CCFF;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}

table.display tbody {
	font-size: 12px;
}

table.display tbody tr {
	cursor: pointer;
}

table.display tbody tr:hover td {
	background: #F9F99F;
	opacity: 0.85;
}

/*
 * Song Marker
 */
.song_mrkr {
	color: black;
	display: block;
	text-align: center;
	font-size: 10px;
}

.song_mrkr img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	margin-bottom: 2px;
}

/*
 * playlist button
 */
#btn_playlist {
	float: right;
	text-align: center;
}

#fn_playlist {
	color: #00CCFF;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

#fn_playlist a:hover {
	cursor: pointer;
}

.lnk_playlist {
	color: #00CCFF;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	cursor: pointer;
}

/*
 * none user styling
 */
#join_message {
	color: #00CCFF;
	margin-left: auto;
	margin-right: auto;
}

#join_message .jmessage {
	margin: 5px 5px 5px 7px;
	font-size: 30px;
	text-align: center;
}

/*
 * footer stuff
 */
#ui_foot {
	padding-top: 15px;
}

#tuneramblr_copy {
	color: #00CCFF;
	float: left;
	margin-top: 15px;
	font-size: 10px;
}

#map_copy {
	color: #00CCFF;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 10px;
}

#back_labs {
	float: right;
	margin-top: 15px;
}

/* 
 * image stuff 
 */
#img_grid {
	height: 1000px;
}

.img_grid_item {
	padding: 5px;
	border-radius: 8px 8px 8px 8px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

#img_grid>img.mselect {
	background: #F9F99F;
	opacity: 0.85;
	border-radius: 8px 8px 8px 8px;
}

/* 
 * loading div
 */
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url('../img/ajax-loader.gif') 50%
		50% no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .modal {
	display: block;
}