/** This file will contain any necessary customizations for the tuneramblr site **/
.center {
    margin: auto;
}

.center-text {
    text-align: center;
}

#footer {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#tracks_table tbody tr {
    cursor: pointer;
}

#tracks_table tbody tr:hover {
    background-color: #D9EDF7;
}

#loading_div {
    opacity:0.45;
    -moz-opacity:0.45;
    filter:alpha(opacity=45);
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    z-index:100;
    width: 100%;
    height: 100%;
    text-align: center;
}

div.inline-block {
    display: inline-block;
}

#track-lookup-notice {
    text-align: center;
}

#track-lookup-progress {
    width: 370px;
}

div.spinny {
    background-image: url(../img/spinny.gif);
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    float: right;
}

div.stretchy {
    background-image: url(../img/stretchy.gif);
    background-repeat: no-repeat;
    width: 220px;
    height: 19px;
    float: right;
}

#audio_content #metadata {
    margin-bottom: 5px;
}

#player_row {
    height: 200px;
}

#notify_area {
    height: 50px;
}

#track-alert {
    margin-top: 20px;
    width: 416px;
    padding: 2px;
    border: 0;
}

#timeline_container .ctype_skip {
    background-color: #FFCCCC;
}

#timeline_container .track_entry {
    border-top: 1px solid #F1F1F1;
    overflow: hidden;
    padding: 0 0 1em 45px;
    position: relative;
}

#timeline_container .track_date {
    color: #BBBBBB;
    font-size: 12px;
}

#timeline_container .track_meta {
    font-size: 10px;
    float: left;
}

#timeline_container .track_name {
    font-weight: bold;
    font-size: 14px;
}

#timeline_container .track_img {
    float: right;
    margin-top: 10px;
}

#meh, #love {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

#meh.selected, #love.selected {
    color: red;
}